@import url(./reset.css);
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px) {
  .app-container .app-menu-container {
    display: flex;
    flex-flow: column;
    display: relative; }
    .app-container .app-menu-container .app-menu-img-box {
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 100%; }
      .app-container .app-menu-container .app-menu-img-box img {
        height: 100%;
        width: 100%; }
  .app-container .app-egg-container .app-egg-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-egg-container .app-egg-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-pink-cup-container .app-pink-cup-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-pink-cup-container .app-pink-cup-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-cherries-container .app-cherries-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-cherries-container .app-cherries-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-orange-container .app-orange-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-orange-container .app-orange-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-four-square-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0px; }
    .app-container .app-four-square-container .app-four-square-bottles {
      grid-column: 1/2;
      grid-row: 1/2; }
      .app-container .app-four-square-container .app-four-square-bottles img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-orange {
      grid-column: 2/3;
      grid-row: 1/2; }
      .app-container .app-four-square-container .app-four-square-orange img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-cone {
      grid-column: 1/2;
      grid-row: 2/3; }
      .app-container .app-four-square-container .app-four-square-cone img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-sugarcube {
      grid-column: 2/3;
      grid-row: 2/3; }
      .app-container .app-four-square-container .app-four-square-sugarcube img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .app-container .app-footer-container {
    display: flex;
    flex-flow: column; }
    .app-container .app-footer-container .app-footer {
      display: flex;
      flex-flow: row; }
    .app-container .app-footer-container .app-footer-social {
      display: flex;
      flex-flow: row; } }
