@import url(./reset.css);
@import "https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap";
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px) {
  .app-container .app-menu-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(10, 10%);
    color: white;
    font-family: 'Fraunces', serif; }
    .app-container .app-menu-container .app-menu-img-box {
      grid-column: 1/11;
      grid-row: 1/11; }
      .app-container .app-menu-container .app-menu-img-box img {
        height: 100%;
        width: 100%; }
    .app-container .app-menu-container .app-menu {
      grid-column: 1/11;
      grid-row: 1/3;
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-bottom: 2em;
      padding: 0em 1em; }
      .app-container .app-menu-container .app-menu * {
        flex: 1; }
      .app-container .app-menu-container .app-menu h3 {
        font-size: 24px; }
      .app-container .app-menu-container .app-menu div {
        text-align: right; }
    .app-container .app-menu-container .app-menu-header {
      grid-column: 1/11;
      grid-row: 3/6;
      display: flex;
      flex-flow: row;
      align-items: center; }
      .app-container .app-menu-container .app-menu-header h1 {
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        letter-spacing: 6px; }
    .app-container .app-menu-container .app-menu-arrow {
      grid-column: 1/11;
      grid-row: 6/8;
      text-align: center;
      margin-top: 20px; }
  .app-container .app-egg-container .app-egg-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-egg-container .app-egg-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-learn-box {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-family: 'Fraunces', serif;
    padding: 4em 1.5em; }
    .app-container .app-learn-box h1 {
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 1em;
      color: #23303e; }
    .app-container .app-learn-box p {
      margin-bottom: 2em;
      line-height: 1.5em;
      color: #5a636c;
      font-weight: 600;
      font-family: 'Barlow', sans-serif;
      font-size: 18px; }
    .app-container .app-learn-box div {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      position: relative; }
      .app-container .app-learn-box div span {
        font-weight: 800;
        z-index: 3; }
      .app-container .app-learn-box div hr {
        position: absolute;
        height: 10px;
        border: 0;
        width: 38%;
        margin: 0;
        padding: 0;
        text-align: center;
        top: 12px;
        z-index: 2;
        border-radius: 4px; }
      .app-container .app-learn-box div #hr-yellow {
        background: rgba(255, 255, 0, 0.4); }
      .app-container .app-learn-box div #hr-pink {
        background: rgba(255, 192, 203, 0.4); }
  .app-container .app-pink-cup-container .app-pink-cup-img-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%; }
    .app-container .app-pink-cup-container .app-pink-cup-img-box img {
      height: 100%;
      width: 100%; }
  .app-container .app-cherries-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(10, 10%); }
    .app-container .app-cherries-container .app-cherries-img-box {
      grid-column: 1/11;
      grid-row: 1/11; }
      .app-container .app-cherries-container .app-cherries-img-box img {
        height: 100%;
        width: 100%; }
    .app-container .app-cherries-container .app-cherries-text-box {
      grid-column: 1/11;
      grid-row: 8/11;
      display: flex;
      flex-flow: column;
      text-align: center; }
      .app-container .app-cherries-container .app-cherries-text-box h1 {
        font-size: 26px;
        font-family: 'Fraunces', serif;
        font-weight: 800;
        color: #25564b;
        margin-bottom: 1em; }
      .app-container .app-cherries-container .app-cherries-text-box p {
        color: #25564b;
        font-weight: 600;
        font-family: 'Barlow', sans-serif;
        padding: 0em 1em;
        line-height: 1.5em; }
  .app-container .app-orange-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(10, 10%); }
    .app-container .app-orange-container .app-orange-img-box {
      grid-column: 1/11;
      grid-row: 1/11; }
      .app-container .app-orange-container .app-orange-img-box img {
        height: 100%;
        width: 100%; }
    .app-container .app-orange-container .app-orange-text-box {
      grid-column: 1/11;
      grid-row: 8/11;
      display: flex;
      flex-flow: column;
      text-align: center; }
      .app-container .app-orange-container .app-orange-text-box h1 {
        font-size: 26px;
        font-family: 'Fraunces', serif;
        font-weight: 800;
        color: #25564b;
        margin-bottom: 1em; }
      .app-container .app-orange-container .app-orange-text-box p {
        color: #25564b;
        font-weight: 600;
        font-family: 'Barlow', sans-serif;
        padding: 0em 1em;
        line-height: 1.5em; }
  .app-container .app-four-square-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0px; }
    .app-container .app-four-square-container .app-four-square-bottles {
      grid-column: 1/2;
      grid-row: 1/2; }
      .app-container .app-four-square-container .app-four-square-bottles img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-orange {
      grid-column: 2/3;
      grid-row: 1/2; }
      .app-container .app-four-square-container .app-four-square-orange img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-cone {
      grid-column: 1/2;
      grid-row: 2/3; }
      .app-container .app-four-square-container .app-four-square-cone img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .app-container .app-four-square-container .app-four-square-sugarcube {
      grid-column: 2/3;
      grid-row: 2/3; }
      .app-container .app-four-square-container .app-four-square-sugarcube img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .app-container .app-footer-container {
    display: flex;
    flex-flow: column; }
    .app-container .app-footer-container .app-footer {
      display: flex;
      flex-flow: row; }
    .app-container .app-footer-container .app-footer-social {
      display: flex;
      flex-flow: row; } }
