@import "./reset.css";
@import "https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:wght@100;200;300;400;500;600;700;800;900&display=swap";

html, body, #root {
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    //font-family: 'Fraunces', serif;
    //font-family: 'Barlow', sans-serif;
}

@media only screen and (min-device-width : 667px){
    .app-container {

        .app-menu-container {
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
            color: white;

            .app-menu-img-box {
                grid-column: 1/11;
                grid-row: 1/11;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .app-menu {
                grid-column: 1/11;
                grid-row: 1/2;
                display: flex;
                flex-flow: row;
                align-items: center;
                font-family: 'Barlow', sans-serif;
                margin: 2.5em;

                h3 { 
                    margin-left: 1em;
                    flex: 1;
                    font-size: 32px;
                }

                .app-menu-desktop {
                    flex: 1;
                    display: flex;
                    flex-flow: row;
                    
                    .app-menu-desktop-buttons {
                        display: flex;
                        flex-flow: row;
                        width: 100%;
                        font-size: 18px;
                        justify-content: space-evenly;
                        font-weight: 500;

                        p {

                        }
                    }
                }
                
                .app-menu-sandwich {
                    visibility: hidden;
                    display: none;
                }

                .app-menu-dropdown {


                    .app-menu-dropdown-options {
                        

                        p {
                            
                        }
                    }
                }
            }

            .app-menu-header {
                grid-column: 1/11;
                grid-row: 2/5;
                display: flex;
                flex-flow: row;
                justify-content: center;

                h1 {
                    
                    font-size: 56px;
                    font-weight: 700;
                    letter-spacing: 6px;
                    font-family: 'Fraunces', serif;
                    margin-top: 100px;
                }
            }

            .app-menu-arrow {
                grid-column: 1/11;
                grid-row: 5/7;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                z-index: 1;
                margin-top: 50px;
                
                img {
                    width: 36px;
                    height: auto;
                }
            }
        }


        .app-egg-learn-more-combo {
            display: flex;
            flex-flow: row-reverse;

            .app-egg-container {
                flex: 1;

                .app-egg-img-box {
                    display: flex;
                    flex-flow: column;
                    width: 100%;
                    height: 100%;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        
                    }
                }
            }

            .app-learn-box {
                flex: 1;
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-family: 'Fraunces', serif;
                padding: 5% 0em;

                .app-learn-box-wrapper {
                    display: flex;
                    flex-flow: column;
                    margin: 0em 20%;

                    h1 {
                        font-size: 40px;
                        font-weight: 800;   
                        margin-bottom: 1em;
                        color: hsl(212, 27%, 19%);
                    }
    
                    p {
                        margin-bottom: 2em;
                        line-height: 1.5em;
                        color: hsl(213, 9%, 39%);
                        font-weight: 600;
                        font-family: 'Barlow', sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                    }
    
                    div {
                        display: flex;
                        flex-flow: column;
                        
                        justify-content: center;
                        font-size: 15px;

                        span {
                            font-weight: 800;
                            z-index: 3;
                        }

                        hr {

                        }
        
                        #hr-yellow {
                            background: rgba(255, 255, 0, .4);
                        }
        
                        #hr-pink {
                            background: rgba(255, 192, 203, .4);
                        }
                    }
                }
            }
        }

        .app-cup-learn-more-combo {
            display: flex;
            flex-flow: row;

            .app-pink-cup-container {
                flex: 1;

                .app-pink-cup-img-box {
                    display: flex;
                    flex-flow: column;
                    width: 100%;
                    height: 100%;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        
                    }
                }
            }

            .app-learn-box {
                flex: 1;
                display: flex;
                flex-flow: column;
                justify-content: center;
                font-family: 'Fraunces', serif;
                padding: 5% 0%;
                
                .app-learn-box-wrapper {
                    display: flex;
                    flex-flow: column;
                    margin: 0% 20%;

                    h1 {
                        font-size: 40px;
                        font-weight: 800;   
                        margin-bottom: 1em;
                        color: hsl(212, 27%, 19%);
                    }
    
                    p {
                        margin-bottom: 2em;
                        line-height: 1.5em;
                        color: hsl(213, 9%, 39%);
                        font-weight: 600;
                        font-family: 'Barlow', sans-serif;
                        font-size: 18px;
                    }
                    
                    div {
                        display: inline-block;
        
                        span {
                            font-weight: 800;
                            z-index: 3;
                            font-size: 15px;
                        }
        
                        hr {
                            max-width: 40%;
                        }
        
                        #hr-yellow {
                            background: rgba(255, 255, 0, .4);
                        }
        
                        #hr-pink {
                            background: rgba(255, 192, 203, .4);
                        }
                    }
                }
            }
        }

        .app-cherries-orange-combo {
            display: flex;
            flex-flow: row;
            
            .app-cherries-container {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: repeat(10, 10%);
                flex: 1;
                

                .app-cherries-img-box {
                    grid-column: 1/11;
                    grid-row: 1/11;
    
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .app-cherries-text-box {
                    grid-column: 1/11;
                    grid-row: 8/11;
                    margin: 0% 20%;

                    h1 {
                        font-size: 28px;
                        font-family: 'Fraunces', serif;
                        font-weight: 800;
                        color: hsl(167, 40%, 24%);
                        margin-bottom: 1em;
                        text-align: center;
                    }
    
                    p {
                        color: hsl(167, 40%, 24%);
                        font-weight: 500;
                        font-family: 'Barlow', sans-serif;
                        padding: 0em 1em;
                        line-height: 1.5em;
                        text-align: center;
                    }
                }
            }
            
            .app-orange-container {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: repeat(10, 10%);
                flex: 1;

                .app-orange-img-box {
                    grid-column: 1/11;
                    grid-row: 1/11;
    
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
    
                .app-orange-text-box {
                    grid-column: 1/11;
                    grid-row: 8/11;
                    margin: 0% 20%;

                    h1 {
                        font-size: 28px;
                        font-family: 'Fraunces', serif;
                        font-weight: 900;
                        color: hsl(198, 62%, 26%);
                        margin-bottom: 1em;
                        text-align: center;
                    }
    
                    p {
                        color: hsl(198, 62%, 26%);
                        font-weight: 500;
                        font-family: 'Barlow', sans-serif;
                        padding: 0em 1em;
                        line-height: 1.5em;
                        text-align: center;
                    }
                }
            }
        }

        //asdfasdfsa
        .app-testimonials-box {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 8em;

            h6 {
                flex: 1;
                margin: 8em 0em 5em 0em;
                color: hsl(210, 4%, 67%);
                font-family: 'Fraunces', serif;
                //font-size: 18px;
                letter-spacing: 3px;
                font-weight: 800;
            }

            .app-testimonials-client-wrapper {
                display: flex;
                flex-flow: row;
                margin: 0 12%;

                .app-testimonials-client-box {
                    display: flex;
                    flex-flow: column;
                    

                    .app-testimonials-client-img-box {
                        text-align: center; 
                        margin-bottom: 3em;
                        img {
                            width: 72px;
                            height: auto;
                            border-radius: 50px;
                        }
                    }

                    .app-testimonials-client-text {
                        margin: 0 5%; 
                        line-height: 32px;
                        font-size: 18px;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 500;
                        color: #5B636D;
                        text-align: center;
                        margin-bottom: 3em;
                    }

                    .app-testimonials-client-info {
                        text-align: center;

                        #client-name {
                            font-family: 'Fraunces', serif;
                            color: hsl(212, 27%, 19%);
                            font-weight: 900;
                            margin-bottom: .5em;
                        }

                        #client-occupation {
                            font-family: 'Barlow', sans-serif;
                            font-size: 14px;
                            font-weight: 500;
                            color: hsl(210, 4%, 67%);
                        }
                    }
                }
            }
        }

        .app-four-square-container {
            display: flex;
            flex-flow: row;
            gap: 0;

            .app-four-square-bottles {
                

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-orange {
                

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-cone {

                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-sugarcube {
                
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .app-footer-container {
            display: flex;
            flex-flow: column;
            background: rgba(143, 211, 196, 1);
            color: hsl(168, 34%, 41%);
            text-align: center;
            font-family: 'Barlow', sans-serif;

            h1 {
                font-size: 32px;
                font-weight: 900;
                margin: 1.5em;
                color: rgb(43, 116, 99);
            }
            
            .app-footer {
                display:flex;
                flex-flow: row;
                justify-content: center;
                font-weight: 500;
                margin-bottom: 5em;
                font-size: 18px;

                #mid {
                    margin: 0em 3em;
                }
            }

            .app-footer-social {
                display:flex;
                flex-flow: row;
                justify-content: center;
                margin-bottom: 5em;
                text-align: center;

                * {
                    margin: 0em .5em;
                }
            }
        }
    }
}


/*
Mobile CSS
*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3), (max-device-width : 667px){  
    
    .app-container {
        
        //Blue background with Orange, 1st box
        .app-menu-container {
            //display: flex;
            //flex-flow: column;
            //display: relative;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(10, 10%);
            color: white;
            font-family: 'Fraunces', serif;


            .app-menu-img-box {
                grid-column: 1/11;
                grid-row: 1/11;
                //display: flex;
                //flex-flow: column;
                //height: 100%;
                //width: 100%;
            
                img {
                    height: 100%;
                    width: 100%;
                }
                
            }

            .app-menu {
                grid-column: 1/11;
                grid-row: 1/3;
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-bottom: 2em;
                padding: 0em 1em;
                position: relative;

                * {
                    flex: 1;
                }

                h3 {
                    font-size: 24px;
                    margin: 0;
                }

                div {
                    text-align: right;
                }

                .app-menu-desktop {
                    display: none;
                    visibility: hidden;
                }

                .app-menu-sandwich {
                    visibility: initial;
                    display: initial;
                }

                .app-menu-dropdown {
                    position: absolute;
                    top: 100px;
                    left: 0;
                    right: 0px;
                    margin-left: auto; 
                    margin-right: auto; 
                    width: 90%;
                    background: white;
                    color: hsl(210, 4%, 67%);
                    z-index: 100;
                    font-family: 'Barlow', sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 2em 0em;

                    .app-menu-dropdown-options {
                        text-align: center;
                        background: white;
                        
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;

                        p {
                            padding: 1.2em 0em;
                            width: 150px;
                        }

                        #dropdown-active {
                            background: hsl(51, 100%, 49%);
                            border-radius: 50px;
                            color: black;
                            font-family: 'Fraunces', serif;
                            text-transform: uppercase;
                            margin: 1em 0em 0em 0em;
                            font-size: 16px;
                        }
                    }
                }

                .app-menu-dropdown:after {
                    content: " ";
                    position: absolute;
                    right: 0px;
                    top: -25px;
                    border-top: none;
                    border-right: 0px solid transparent;
                    border-left: 25px solid transparent;
                    border-bottom: 25px solid white;
                }
            }

            .app-menu-header {
                grid-column: 1/11;
                grid-row: 3/6;
                display: flex;
                flex-flow: row;
                align-items: center;

                h1 {
                    text-align: center;
                    font-size: 42px;
                    font-weight: 700;
                    letter-spacing: 6px;
                }
            }

            .app-menu-arrow {
                grid-column: 1/11;
                grid-row: 6/8;
                text-align: center;
                margin-top: 20px;
            }
        }

        .app-egg-learn-more-combo { 
            display: inline;
        }

        //Yellow Egg, 2nd Box
        .app-egg-container {
            
            .app-egg-img-box {
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 100%;
                
                img {
                    height: 100%;
                    width: 100%;
                    
                }
            }
        }


        //learn More, 3rd Box && 6th Box
        .app-learn-box {
            display: flex;
            flex-flow: column;
            text-align: center;
            font-family: 'Fraunces', serif;
            
            padding: 4em 1.5em;

            .app-learn-box-wrapper {
                
                h1 {
                    font-size: 32px;
                    font-weight: 800;
                    margin-bottom: 1em;
                    color: hsl(212, 27%, 19%);
                }
    
                p {
                    margin-bottom: 2em;
                    line-height: 1.5em;
                    color: hsl(213, 9%, 39%);
                    font-weight: 600;
                    font-family: 'Barlow', sans-serif;
                    font-size: 18px;
                }
    
                div {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
    
                    span {
                        font-weight: 800;
                        z-index: 3;
                    }
    
                    hr {
                        position: absolute;
                        height: 10px;
                        border: 0;
                        width: 38%;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        top: 12px;
                        z-index: 2;
                        border-radius: 4px;
                    }
    
                    #hr-yellow {
                        background: rgba(255, 255, 0, .4);
                    }
    
                    #hr-pink {
                        background: rgba(255, 192, 203, .4);
                    }
                }
            }
            
        }


        //Pink Cup, 4th box
        .app-pink-cup-container {
            
            .app-pink-cup-img-box {
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 100%;
                
                img {
                    height: 100%;
                    width: 100%;
                    
                }
            }
        }

        //6th Box is also Learn More box (3rd box)

        //Two Cherries, 7th box
        .app-cherries-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(10, 10%);
            
            .app-cherries-img-box {
                grid-column: 1/11;
                grid-row: 1/11;

                img {
                    height: 100%;
                    width: 100%;
                    
                }
            }

            .app-cherries-text-box {
                grid-column:1/11;
                grid-row: 8/11;

                display: flex;
                flex-flow: column;
                text-align: center;

                h1 {
                    font-size: 26px;
                    font-family: 'Fraunces', serif;
                    font-weight: 800;
                    color: hsl(167, 40%, 24%);
                    margin-bottom: 1em;
                }

                p {
                    color: hsl(167, 40%, 24%);
                    font-weight: 600;
                    font-family: 'Barlow', sans-serif;
                    padding: 0em 1em;
                    line-height: 1.5em;
                }
            }
        }

        //An Orange, 8th box
        .app-orange-container {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: repeat(10, 10%);
            
            .app-orange-img-box {
                grid-column: 1/11;
                grid-row: 1/11;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .app-orange-text-box {
                grid-column:1/11;
                grid-row: 8/11;

                display: flex;
                flex-flow: column;
                text-align: center;

                h1 {
                    font-size: 26px;
                    font-family: 'Fraunces', serif;
                    font-weight: 900;
                    color: hsl(198, 62%, 26%);
                    margin-bottom: 1em;
                }

                p {
                    color: hsl(198, 62%, 26%);
                    font-weight: 700;
                    font-family: 'Barlow', sans-serif;
                    padding: 0em 1em;
                    line-height: 1.5em;
                }
            }
        }

        //Testimonials Box, 9th box
        .app-testimonials-box {
            display: flex;
            flex-flow: column;
            text-align: center;

            h6 {
                margin: 3em 0em;
                color: hsl(210, 4%, 67%);
                font-family: 'Fraunces', serif;
                //font-size: 18px;
                letter-spacing: 3px;
                font-weight: 800;
            }

            .app-testimonials-client-wrapper {
                .app-testimonials-client-box {
                    display: flex;
                    flex-flow: column;
                    margin-bottom: 4em;
    
                    .app-testimonials-client-img-box {
    
                        width: 100%;
                        height: 100%;
    
                        img {
                            border-radius: 100px;
                            width: 75px;
                            height: 75px;
                        }
                    }
    
                    .app-testimonials-client-text {
                        margin: 2em;
                        font-size: 18px;
                        line-height: 1.5em;
                        font-family: 'Barlow', sans-serif;
                        font-weight: 600;
                        color: hsl(213, 9%, 39%);
                    }
    
                    .app-testimonials-client-info {
    
    
                        #client-name {
                            font-family: 'Fraunces', serif;
                            color: hsl(212, 27%, 19%);
                            font-weight: 900;
                            margin-bottom: .5em;
                        }
    
                        #client-occupation {
                            font-family: 'Barlow', sans-serif;
                            font-size: 14px;
                            font-weight: 600;
                            color: hsl(210, 4%, 67%);
                        }
                    }
                }
            }
        }

        //FourSquare Images, 10th box
        .app-four-square-container {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-gap: 0px!important;

            .app-four-square-bottles {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-orange {
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-cone {
                grid-column: 1/2;
                grid-row: 2/3;
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .app-four-square-sugarcube {
                grid-column: 2/3;
                grid-row: 2/3;
                width: 100%;
                height: 100%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }


        .app-footer-container {
            display: flex;
            flex-flow: column;
            background: rgba(143, 211, 196, 1);
            color: hsl(168, 34%, 41%);
            text-align: center;
            font-family: 'Barlow', sans-serif;

            h1 {
                font-size: 32px;
                font-weight: 900;
                margin: 1.5em;
                color: rgb(43, 116, 99);
            }
            
            .app-footer {
                display:flex;
                flex-flow: row;
                justify-content: space-around;
                font-weight: 800;
                margin-bottom: 5em;
                font-size: 18px;
            }

            .app-footer-social {
                display:flex;
                flex-flow: row;
                justify-content: center;
                margin-bottom: 5em;
                text-align: center;
                * {
                    margin: 0em .5em;
                }
            }
        }
    }
}